* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Lato, sans-serif;
    margin: 0;
    font-size: 100%;
    background-image: url("resources/images/lights.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
}

@font-face {
    font-family: "TESLA";
    src: url("resources/fonts/TESLA.ttf") format("truetype");
}

/* Container for flexboxes */
main {
    display: -webkit-flex;
    display: flex;
    height: 100vh;
    color: inherit;
    background-color: rgba(10, 10, 10, 0.75);
}

/* flexboxes */
#navcolumn {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 15vw;
    padding: 2%;
    text-align: center;
    border-right: thin solid gainsboro;
    line-height: 2em;
    background-color: rgba(10, 10, 10, 0.75);
}

#maincontent {
    -webkit-flex: 9;
    -ms-flex: 9;
    flex: 9;
    color: inherit;
    padding: 10%;
}

/* Style the navigation menu */
#navcolumn h2 {
    font-size: 1.5em;
    font-family: 'Open Sans', serif;
}

/* Style the list inside the menu */
#navcolumn ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

#navcolumn ul li a img {
    width: 85%;
    border-radius: 50%;
    border: solid medium gainsboro;
}

/* Style the content */
#wrapper {
    margin: auto;
    text-align: left;
    color: inherit;
}

#wrapper div {
    font-size: 8em;
    font-family: TESLA, sans-serif;
}

#wrapper p {
    width: 66%;
    line-height: 1.5em;
}

/* Style links */
a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #81D4FA;
    text-decoration: underline;
}

a:visited {
    color: #0277BD;
}

/* Style the buttons */
button {
    border: medium solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    min-width: 12vw;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: whitesmoke;
    color: rgb(10, 10, 10);
}

.highlighted-button {
    background-color: #0277BD;
    border-color: #0277BD;
}

.highlighted-button:hover {
    background-color: #81D4FA;
    border-color: #81D4FA;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    nav {
        width: 100vw;
    }
    nav ul li a img {
        width: 50%;
    }
    article {
        width: 100vw;
    }
}